* {
    margin: 0;
    padding: 0;
}
h2 {
    color: #7cfc00;
    text-align: center;
}
h3 {
    color: #fc00da;
    text-align: center;
}
.header {
    background-color: #222222;
    color: #0076fc;
    text-align: center;
}
.main1 {
    color: #00f4fc;
    text-align: center;
}
.main2 {
    color: #686102;
    text-align: center;
}
.footer {
    color: #c100fc;
    text-align: center;
}
#baseball{
    color: #7cfc00;
}